#canvas {
    background-color:rgb(255, 255, 255);
    display: flex;
    height: 100%;
    width: 100%;
}
#app {
    background-color:rgb(255, 255, 255);
    display: flex;
    height: 70%;
    width: 70%;
}
.resizer[data-direction='horizontal'] {
    background-color: #000000;
    cursor: ew-resize;
    height: 100%;
    width: 14px;
    z-index: 2;
}
.resizer[data-direction='vertical'] {
    background-color: #000000;
    cursor: ns-resize;
    height: 14px;
    width: 100%;
    z-index: 2;
}
.container_horizontal {
    height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.container_vertical {
    width: 100%;
    align-items: stretch;
    display: flex;
    justify-content: stretch;
}
.blob {
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}
/* .blob:hover {
    background-color: rgb(181, 213, 228);
} */
.blob[selected='true'] {
    background-color:rgb(181, 213, 228);
}